#todos {
    margin: 2rem auto;
    padding: 2rem;
    max-width: 30rem;
    border-radius: 6px;
    background: linear-gradient(#11d2d2, #35d47c);
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
  }

#todos ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#todos li {
    list-style: none;
    margin: 1rem;
    padding: 1rem;
    background-color: #198536;
    color: white;
    
    border-radius: 6px;
}